<footer class="p-16 footer bg-base-100 text-base-content">
    <div>
        <span class="footer-title">Book Haven</span>
        <p>Your daily source of knowledge and inspiration.</p>
    </div>
    <div>
        <span class="footer-title">Navigation</span>
        <a class="link link-hover">Home</a>
        <a class="link link-hover">Books</a>
        <a class="link link-hover">Contact</a>
    </div>
    <div>
        <span class="footer-title">Legal</span>
        <a class="link link-hover">Terms</a>
        <a class="link link-hover">Privacy</a>
    </div>
</footer>