<div class="px-16 py-5 navbar sticky top-0 right-0 z-50">
    <div class="flex-1 relative">
        <a href="{{ url_for('web_routes.index') }}" class="flex items-center gap-2">
            BOOKIT
        </a>
    </div>
    <div class="flex gap-8 items-center">
        <a href="{{ url_for('web_routes.index') }}"
           class="link link-animated text-base-content transition {{ 'active' if request.endpoint == "web_routes.index" else '' }}">
            Home
        </a>
        <a href="{{ url_for('web_routes.product_list') }}"
           class="link link-animated text-base-content hover:text-primary transition {{ 'active' if request.endpoint == "product_list" else '' }}">
            Books
        </a>
        <a href="{{ url_for('web_routes.cart') }}"
           class="link link-animated text-base-content hover:text-primary transition {{ 'active' if request.endpoint == "cart" else '' }}">
            Cart
        </a>
        <a href="{{ url_for('admin_routes.dashboard') }}"
           class="link link-animated text-base-content hover:text-primary transition {{ 'active' if request.endpoint == "cart" else '' }}">
            Admin
        </a>
        <div class="join">
            {% if current_user %}
                <a href="{{ url_for('admin_routes.dashboard') }}" class="join-item btn btn-primary btn-gradient flex items-center gap-1.5">
                    <span class="material-symbols-outlined text-[18px]">dashboard</span>
                    <span>Dashboard ({{ current_user.name.split()[0] }})</span>
                </a>
            {% else %}
                <a href="{{ url_for('admin_routes.login') }}" class="join-item btn btn-primary btn-gradient flex items-center gap-1.5">
                    <span class="material-symbols-outlined text-[18px]">login</span>
                    <span>Sign in</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>